<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.web" >

    <application>
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.SchemeFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="sc.com"
                    android:scheme="router"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="sc.com"
                    android:scheme="http"/>
                <data
                    android:host="sc.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
