<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.account">


    <application
        >
        <activity android:name=".ui.UserListActivity">
        </activity>
        <activity
            android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.UserDetailActivity" />
    </application>

</manifest>